<!DOCTYPE html>
<html>
  <head>
        
      
      
    <title><%= title %></title>
      
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.0/css/materialize.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.0/js/materialize.js"></script>
      
    <link rel='stylesheet' href='/stylesheets/style.css' />   
    <link rel='stylesheet' href='/stylesheets/preloader.css' />   
    <script type="text/javascript" src="/mods/preloader.js"></script> 
  </head>
    
    <section id="preloader"><%- include preloader.ejs%></section>
    
  <body  onload="hide_preloader()"> 
    
    <header class="row z-depth-1">
      <a href="#" class="logo col s12 l6">People to People</a>
    <form action="/login" method="post" class="col s12 l6 right">
          
            <div class="input-field  col s12 l5">
              <input id="login_email" type="email" name='email' class="validate">
              <label for="login_email" class="active">Email</label>
            </div>

              <div class="input-field  col s12 l5">
              <input id="login_password" name="password" type="password" class="validate">
              <label for="login_password" class="active">Password</label>
            </div>

       
        <button class="btn waves-effect waves-light tooltipped col s12 l2" type="submit" name="action" data-position="left" data-delay="50" data-tooltip="login to play!">login</button>

    </form>
        
  </header>
      
        <ul class="tabs  hide-on-med-and-down  z-depth-1">
              <li class="tab col s3 "><a class="active" href="#home">home</a></li>
            <li class="tab col s3"><a href="#register">Register</a></li>
            <li class="tab col s3"><a href="#developer">Developers</a></li>
            <li class="tab col s3"><a href="#about">How To Play</a></li>
          </ul>
      
    <!-- home page -->
    <section id="home" class="panel">
      <%- include home.ejs%>
    </section>
    <!-- home page -->
            
      
    <!-- Katie -->
    <section id="register" class="panel">
      <%- include login.ejs%>
    </section>
    <!-- Katie -->

    <!-- Mike -->
    <section id="developer" class="panel">
      <%- include developer.ejs%>
    </section>
    <!-- Mike -->
      
        <!-- Tugce -->
    <section id="about" class="panel">
      <%- include howtoplay.ejs%>
    </section>
    <!-- Tugce -->
      
  </body>
</html>
